# .gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
.venv/
env/
ENV/

# Poetry
poetry.lock

# Testing
.pytest_cache/
.coverage
htmlcov/
*.log

# Allure
allure-results/
allure-report/
